@tailwind base;
@tailwind components;
@tailwind utilities;


@media (min-width: 800px){
    .xl\:w-\[800px\] {
        width: 800px;
    }   
}
@media (min-width: 900px){
    .xl\:w-\[900px\] {
        width: 900px;
    }    
}

body
{
  background-color: rgb(#001f3f);
  background: -webkit-linear-gradient(to right, #001f3f, #004d99);
  background: linear-gradient(to right, #001f3f, #004d99);
}



/*Estilos projectos sliders*/
.card .front {
   transform: perspective(500px) rotateY(0);
   backface-visibility: hidden;
   transition: all 1s;
}
.card .back {
  transform: perspective(500px) rotateY(180deg);
  backface-visibility: hidden;
  transition: all 1s;
}
.card:hover .front {
  transform: perspective(500px) rotateY(180deg);
}
.card:hover .back {
  transform: perspective(500px) rotateY(360deg);
}
   

  